{% extends 'base.html' %}

{% block content %}


<div class="container">

<div class="jumbotron">
  <h1 class="display-4">Welcome To Crypto Network</h1>
  <p class="lead">Welcome to our service.We provide latest news in the field of cryto-currency </p>
  <hr class="my-4">
  <p>It uses an API to fetch the information and generate the results</p>
</div>



<table class="table table-light table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Daily High</th>
      <th scope="col">Daily Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>


{% for key,value in price.DISPLAY.items %}

  <tbody table-hover>
    <tr>
      <td>{{key}}</td>
      <td>{{value.INR.PRICE}}</td>
      <td>{{value.INR.HIGHDAY}}</td>
      <td> {{value.INR.LOWDAY}}</td>
      <td> {{value.INR.MKTCAP}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br><br><br>

<div class="container">
    <div class="row">
        {% for x in api.Data %}
        <div class="col-sm">
       <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{x.imageurl}}" alt="{{x.source}}">
        <div class="card-body">
          <h5 class="card-title">{{ x.title }}</h5>
          <p class="card-text">{{x.body}}</p>
          <a href="{{ x.url }}" class="btn btn-primary">Read More...</a>
        </div>
      </div>
      <br>
      </div>
      {% endfor %}
    </div>
</div>


</div>

{% endblock %}
